<style>
    body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
    code{font-size: 1.2em; color:blue;}
</style>
<h2><xmp>audio-clips.js</xmp></h2>

<div>
    <a href="#" onclick="audioClip('beep')">beep</a> &nbsp; <br>
    <a href="#" onclick="audioClip('beep', null, {volume:.5})">beep</a> &nbsp; <code>{volume: .5}</code> &nbsp; this setting will persist <br>
    <a href="#" onclick="audioClip('beep', null, {volume: 1})">beep</a> &nbsp; <code>{volume: 1}</code><br>
    <a href="#" onclick="audioClip('notify')">notify</a> <br>
    <a href="#" onclick="audioClip('errorDough')">errorDough</a> <br>
    <a href="#" onclick="audioClip('error')">error</a> <br>
    <a href="#" onclick="audioClip('turnPage')">turnPage</a> <br>
    <a href="#" onclick="audioClip('chimePlunk')">chimePlunk</a> <br>
    <a href="#" onclick="audioClip('roadRunner')">roadRunner</a> <br>
    <a href="#" onclick="audioClip('logon')">logon</a> <br>
    <a href="#" onclick="audioClip('logoff')">logoff</a> <br>
    <a href="#" onclick="audioClip('tada')">tada</a> <br>
    <a href="#" onclick="audioClip('winXP')">winXP</a> <br>
    <a href="#" onclick="audioClip('intel')">intel</a> <br>
    <hr>
    <a href="#" onclick="multiple()">multiple</a> &nbsp; play sounds in sequence using callbacks <br><br>
    <small>function <code>audioClip('clipName')</code> returns clip itself</small><br>
    <a href="#" onclick="winXPclip()">winXP clip</a> &nbsp; <code>audioClip('winXP').duration =</code> <span id="winXPduration"></span><br>


</div>
<script type="module">

import audioClip from '../alfa-audio-clips-ui.mjs';
window.audioClip = audioClip;


window.multiple =function(){

    audioClip('winXP', function(){
        console.log('winXP cb');
        audioClip('tada', function(){
            console.log('tada cb');
            audioClip('intel', function(){
                console.log('intel cb');
                audioClip('beep', function(){
                    console.log('beep cb');
                });
            });
        })
    })
}


window.winXPclip = function(){
    document.getElementById('winXPduration').innerText =  audioClip('winXP').duration;
}

</script>